# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
.pnpm-debug.log

# Archivos de entorno
.env
.env.local
.env.*.local

# Directorio de compilación
dist/
build/

# Logs
logs/
*.log

# Archivos temporales
.tmp/
.temp/
tmp/

# Archivos de cobertura
coverage/

# Archivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Directorios específicos de la aplicación
uploads/

# sealed secrets
secret-*
secrets-*